<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      Express App - Todos
    <a href="/todo-create" class="btn btn-warning">Crear todo</a>
    </a>
  </div>
</nav>