<!DOCTYPE html>
<html lang="en">
	{{> header}}
	<body class="d-flex flex-column min-vh-100">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="alert alert-danger text-center my-3">404 | Page not found</h1>
					<a href="/" class="form-control text-center fw-bold">Ir al home</a>
				</div>
			</div>
		</div>
	</body>
</html>