<!DOCTYPE html>
<html lang="en">
{{> header }}
<body class="d-flex flex-column min-vh-100">
    {{> navbar }}
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <form >
                    <label for="nombre" class="my-3">Nombre:</label>
                    <input type="text" id="nombre" class="form-control" placeholder="Ingrese su nombre" required>
                    <label for="descripcion" class="my-3">Descripción:</label>
                    <input type="text" id="descripcion" class="form-control" placeholder="Ingrese el todo" required>
                    <div class="d-flex justify-content-center">
                    <button class="btn btn-primary my-3" onclick="insertTodo()">Agregar todo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{> footer }}
    <script src="/assets/create.js"></script>
</body>
</html>